.checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  label:first-of-type {
  display: flex;
  order: 2;
  margin-bottom: 1px;
  align-items: center;
}

.checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  label:first-of-type
  span {
  order: 1;
}

.checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  label:first-of-type
  img {
  order: -1;
  margin-left: 20px;
  max-height: 32px;
  max-width: 64px;
}

.checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  .payment-method-description {
  margin-top: 0;
}

.checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  input[type="radio"][name="payment_method"]
  ~ .payment_box {
  margin-top: 0.2rem;
}

.checkout-payplus input[type="radio"][name="payment_method"] + label::before,
.checkout-payplus
  input[type="radio"][name="payment_method"]:checked
  + label::before {
  order: -1;
  transform: none;
}

.payplus_thankyou-new-token {
  background-color: white;
  min-height: 20%;
  max-width: 30%;
  display: flex;
  border: 2px solid grey;
  transition: border-color 0.5s ease-in-out;
  border-radius: 30px;
  padding: 30px 30px 30px 30px;
  position: fixed;
  top: 50%;
  font-size: 1.4rem;
  color: #000000d6;
  left: 50%;
  transition: border-color 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;

  input {
    position: relative;
    border-radius: 10px;
    background-color: #b2e1c578;
    font-size: 1.4rem;
    z-index: 99999;
  }

  .payplus_icon {
    background-image: url(../images/payplus.svg);
    background-size: 130px;
    opacity: 0.5;
    width: 150px;
    height: 70px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 5%;
  }

  .payplus_save_token_messsage {
    min-height: 5em;
  }

  .payplus_loader {
    position: absolute;
    display: none;
    bottom: 15%;
    right: 15%;
    margin: auto;
    border: 10px solid #eaf0f6;
    border-radius: 50%;
    border-top: 10px solid #15ca2d;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
  }
}

.show-border {
  animation: borderChange 0.5s forwards;
}

.payplus_thankyou-new-token:hover {
  border-color: green;
  animation: none;
  /* Disable any existing animation */
}

.payplus_thankyou-new-token:hover::before {
  animation: borderChange 0.5s forwards;
}

@keyframes borderChange {
  0% {
    border-color: grey;
  }

  100% {
    border-color: green;
  }
}

html[lang="en-US"]
  .checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  label:first-of-type
  img,
html[lang="en"]
  .checkout-payplus
  li[class*="wc_payment_method payment_method_payplus-payment-gateway"]
  label:first-of-type
  img {
  margin-left: 0;
  margin-right: 20px;
}

.express-checkout {
  margin-top: 5%;
  border-radius: 12px;
  border: 1px solid #e3e6e9;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.express-flex {
  display: flex;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
}

body #applePayButton {
  margin-top: 10px;
  border-radius: 0px !important;
  border: 0px;
}

.title-express-checkout {
  margin: 0px;
  position: absolute;
  top: -12px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.title-express-checkout span {
  background: #ffffff;
  padding: 0px 15px;
  text-align: center;
  display: inline-block;
  color: #000;
}

#error-api-payplus p {
  font-size: 14px;
  margin: 0;
  color: red;
  text-align: center;
}

.express-checkout iframe.disabled,
#applePayButton.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.express-checkout.disabled {
  opacity: 0.5;
}

.express-checkout p {
  margin: 0px;
}

@media screen and (max-width: 568px) {
  body .alertify:not(.ajs-maximized) .ajs-modal {
    padding: 0px 0px;
  }

  body .alertify .ajs-dialog {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
