<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <style>
        .fld-frame {
            border: 1px solid #ced4da;
            height: 37px;
            padding: 5px;
            margin: 5px 0;
            background-color: #fff;
            border-radius: 5px;
            width: 100%;
        }
        
        #payment-form {
            display: none;
        }

        .__payplus_hosted_fields_err_fld {
            color: red;
            border: 1px solid red;
        }

        input[readonly] {
            background-color: #eee;
            outline: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
        <div id="payment-form">
            <div class="row">
                <div class="col-4">
                    <div class="row" id="id-number-wrapper">
                        <div class="col-12">
                            <label>ID number</label>
                            <input id="id-number" type="number" class="form-control" value="">
                        </div>
                    </div>
                    <div class="row" id="payments-wrapper">
                        <div class="col-12">
                            <label>Number of payments</label>
                            <select class="form-select" id="payments" aria-label="Default select example">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" id="cc-wrapper">
                        <div class="col-12">
                            <label>Credit card number</label>
                            <span id="cc" class="form-control fld-frame" data-hosted-fields-identifier="cc"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 expiry-wrapper-full">
                            <label>Expiry date</label>
                            <span id="expiry" class="fld-frame"></span>
                        </div>
                    </div>
                    <div class="row expiry-wrapper">
                        <div class="col-2">
                            <label>Month</label>
                            <span id="expirym" class="fld-frame"></span>
                        </div>
                        <div class="col-2">
                            <label>Year</label>
                            <span id="expiryy" class="fld-frame"></span>
                        </div>
                        <div class="col-3">
                            <label>CVV</label>
                            <span id="cvv" class="fld-frame" data-hosted-fields-identifier="main-form"></span>
                        </div>
                    </div>
                    <div class="row" id="cvv-wrapper">

                    </div>
                    <div class="row" id="card-holder-name-wrapper">
                        <div class="col-12">
                            <label>Name</label>
                            <input type="text" id="card-holder-name" class="form-control" value="">
                        </div>
                    </div>
                    <div class="row card-holder-phone-wrapper">
                        <div class="col-12">
                            <label>Phone</label>
                            <div class="row">
                                <div class="col-3">
                                    <select class="form-select card-holder-phone-prefix" aria-label="Default select example">
                                        <option value="1">+1</option>
                                        <option value="20">+20</option>
                                        <option value="27">+27</option>
                                        <option value="30">+30</option>
                                        <option value="31">+31</option>
                                        <option selected value="972">+972</option>
                                    
                                    </select>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control card-holder-phone" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="invoice-name-wrapper">
                        <div class="col-12">
                            <label>Invoice name</label>
                            <input type="text" id="invoice-name" class="form-control" value="">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 wrapper customer_name-wrapper">
                            <label>Customer name</label>
                            <input type="text" name="customer_name" class="form-control" value="">
                        </div>
                        <div class="col-12 wrapper customer_id-wrapper">
                            <label>Customer id</label>
                            <input type="text" name="customer_id" class="form-control" value="">
                        </div>
                        <div class="col-12 wrapper phone-wrapper">
                            <label>Phone</label>
                            <input type="text" name="phone" class="form-control" value="">
                        </div>
                        <div class="col-12 wrapper email-wrapper">
                            <label>email</label>
                            <input type="email" name="email" class="form-control" value="">
                        </div>
                        <div class="col-12 wrapper address-wrapper">
                            <label>Address</label>
                            <input type="text" name="address" class="form-control" value="">
                        </div>
                        <div class="col-12 wrapper country-wrapper">
                            <label>Country</label>
                            <input type="text" name="country" class="form-control" value="">
                        </div>
                        <div class="col-12 wrapper notes-wrapper">
                            <label>Notes</label>
                            <input type="text" name="notes" class="form-control" value="">
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" value="Go" id="submit-payment" class="btn btn-primary">
            <div class="row">
                <div class="col-6">
                    <label>Status</label>
                    <textarea disabled id="status" class="form-control" style="height:250px;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <span id="recaptcha"></span>
    <!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="https://wordpress.test/wp-content/plugins/payplus-payment-gateway/assets/js/payplus-hosted-fields/dist/payplus-hosted-fields.min.js"></script>
    <script src="https://wordpress.test/wp-content/plugins/payplus-payment-gateway/assets/js/hostedFieldsScript.js?ver=1.0"></script> -->
</body>

</html>